<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= username %></h1>
    <h4>Name: <%= infomation.name %></h4>
    <h4>Name: <%= infomation.age %></h4>
    <ul>
    <% infomation.hobbies.forEach((item) => { %>
       <li><%= item %></li> 
    <% }) %>
    </ul>
    <p>You don't tell me that Good bye!</p>
</body>
</html>